.chart-container{
     width: 34%;
     background-color: var(--secondary-black);
     padding: 20px;
     border-radius: 10px;
     box-shadow: inset 0 4px 10px rgba(0, 0, 0, 0.267);
}
.barmain{
    background-color: var(--secondary-black);
    
}