.doughnut-container{
    width: 25%;
    background-color: var(--secondary-black);
    padding: 10px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
@media screen and (max-width: 768px) {
    /* Styles for phones and smaller devices */
    body {
      font-size: 14px; /* Adjust text size */
    }
  
    .doughnut-container{
      width: 100%; /* Make the chart container responsive */
      padding: 5px; /* Add padding for better spacing */
    }
}