.linechart-container{
   width: 67%;
 
    background-color: var(--secondary-black);
    padding: 20px;
    border-radius: 10px;
    box-shadow: inset 0 4px 10px rgba(0, 0, 0, 0.267);
}
.linemain{
    background-color: var(--secondary-black);
     
}
@media screen and (max-width: 768px) {
    /* Styles for phones and smaller devices */
    body {
      font-size: 14px; /* Adjust text size */
    }
  
    .linechart-container{
      width: 100%; /* Make the chart container responsive */
      padding: 5px; /* Add padding for better spacing */
      
    }
}